In [2]:
import numpy as np
import pandas as pd

In [3]:
fdi = pd.read_excel(r"C:\Users\Andreea\Documents\licenta\date\fdi.xlsx", sheet_name = 1)
fdi

     Reporting ISO Partner iso  Average of fdi
0              AUS         NaN      221.563602
1              AUS         MAR        0.000000
2              AUS         ALB        0.000000
3              AUS         ARG      -10.774000
4              AUS         AUT        4.479250
...            ...         ...             ...
1636           XTX         XTX        0.000000
1637           XTX         ZAF        0.272727
1638           XTX         ZWE        0.000000
1639       (blank)         NaN             NaN
1640   Grand Total         NaN      567.001261

[1641 rows x 3 columns]

In [4]:
fdi.dropna(inplace = True)
fdi.dtypes

Reporting ISO      object
Partner iso        object
Average of fdi    float64
dtype: object

In [5]:
infr = pd.read_csv(r"C:\Users\Andreea\Documents\licenta\date\infrastrcture.csv")
infr.dropna(inplace = True)
infr.dtypes

Country Name              object
Partner iso               object
infrastructure_ index    float64
dtype: object

In [6]:
infr['Partner iso'] = infr['Partner iso'].astype('object')
fdi['Partner iso'] = fdi['Partner iso'].astype('object')

df = pd.merge(fdi, infr, on='Partner iso')
df = df.drop('Country Name', axis = 1)
df

     Reporting ISO Partner iso  Average of fdi  infrastructure_ index
0              AUS         MAR        0.000000               2.590355
1              AUT         MAR        1.834900               2.590355
2              BEL         MAR       89.479000               2.590355
3              ESP         MAR      432.905000               2.590355
4              EST         MAR        0.110600               2.590355
...            ...         ...             ...                    ...
1473           LUX         TJK        7.809400               2.116237
1474           NLD         TJK       26.010000               2.116237
1475           NOR         TJK       35.149500               2.116237
1476           POL         TJK        1.700000               2.116237
1477           SWE         TJK       27.180222               2.116237

[1478 rows x 4 columns]

In [7]:
ctl = pd.read_excel(r"C:\Users\Andreea\Documents\licenta\date\ctl + var control origin.xlsx")
df = pd.merge(df, ctl, on = 'Reporting ISO')
df

,Reporting ISO,Partner iso,Average of fdi,infrastructure_ index,ctl_origin,gdp_cap_origin,gdp_growth_origin,tariff_origin,trade_origin
0,AUT,MAR,1.834900,2.590355,75.8,44703.627270,0.524493,2.430909,104.370709
1,AUT,ALB,58.395000,2.234190,75.8,44703.627270,0.524493,2.430909,104.370709
2,AUT,ARG,6.620545,2.826262,75.8,44703.627270,0.524493,2.430909,104.370709
3,AUT,AUT,0.000000,3.947420,75.8,44703.627270,0.524493,2.430909,104.370709
4,AUT,BEL,280.547364,4.043726,75.8,44703.627270,0.524493,2.430909,104.370709
...,...,...,...,...,...,...,...,...,...
1081,USA,VNM,61.400000,2.759676,58.0,56996.264395,1.477271,3.501818,27.862539
1082,USA,ZAF,466.500000,3.466044,58.0,56996.264395,1.477271,3.501818,27.862539
1083,USA,ZWE,42.000000,2.072395,58.0,56996.264395,1.477271,3.501818,27.862539
1084,USA,DNK,1069.600000,3.900347,58.0,56996.264395,1.477271,3.501818,27.862539
1085,USA,PER,671.800000,2.597345,58.0,56996.264395,1.477271,3.501818,27.862539

In [8]:
ctl = pd.read_excel(r"C:\Users\Andreea\Documents\licenta\date\ctl + var control destination.xlsx")
df = pd.merge(df, ctl, on = 'Partner iso')
df

,Reporting ISO,Partner iso,Average of fdi,infrastructure_ index,ctl_origin,gdp_cap_origin,gdp_growth_origin,tariff_origin,trade_origin,ctl_destination,gdp_cap_destination,gdp_growth_destination,tariff_destination,trade_destination
0,AUT,MAR,1.834900,2.590355,75.8,44703.627270,0.524493,2.430909,104.370709,0.0,2961.108459,3.068789,6.872222,75.445844
1,BEL,MAR,89.479000,2.590355,119.8,41101.753254,0.822085,2.430909,160.548481,0.0,2961.108459,3.068789,6.872222,75.445844
2,ESP,MAR,432.905000,2.590355,83.9,25928.257045,0.206781,2.430909,62.994582,0.0,2961.108459,3.068789,6.872222,75.445844
3,EST,MAR,0.110600,2.590355,55.4,18016.921030,3.622830,2.430909,153.544439,0.0,2961.108459,3.068789,6.872222,75.445844
4,FIN,MAR,0.000000,2.590355,74.5,44366.071920,0.750233,2.430909,75.815966,0.0,2961.108459,3.068789,6.872222,75.445844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,JPN,TJK,1.069000,2.116237,43.3,34684.094313,0.929272,3.643636,33.523833,31.6,1007.370779,4.659157,5.136250,64.914514
1082,LUX,TJK,7.809400,2.116237,113.9,106102.231289,0.266555,2.430909,342.925169,31.6,1007.370779,4.659157,5.136250,64.914514
1083,NLD,TJK,26.010000,2.116237,78.9,45923.735199,0.796311,2.430909,150.152046,31.6,1007.370779,4.659157,5.136250,64.914514
1084,POL,TJK,1.700000,2.116237,42.8,13024.461206,3.585024,2.430909,96.083476,31.6,1007.370779,4.659157,5.136250,64.914514
1085,SWE,TJK,27.180222,2.116237,87.9,51205.514724,1.400977,2.430909,85.042638,31.6,1007.370779,4.659157,5.136250,64.914514

In [9]:
df['tariff_dif'] = df.tariff_origin - df.tariff_destination
df = df.drop(['tariff_origin', 'tariff_destination'], axis = 1)
df

,Reporting ISO,Partner iso,Average of fdi,infrastructure_ index,ctl_origin,gdp_cap_origin,gdp_growth_origin,trade_origin,ctl_destination,gdp_cap_destination,gdp_growth_destination,trade_destination,tariff_dif
0,AUT,MAR,1.834900,2.590355,75.8,44703.627270,0.524493,104.370709,0.0,2961.108459,3.068789,75.445844,-4.441313
1,BEL,MAR,89.479000,2.590355,119.8,41101.753254,0.822085,160.548481,0.0,2961.108459,3.068789,75.445844,-4.441313
2,ESP,MAR,432.905000,2.590355,83.9,25928.257045,0.206781,62.994582,0.0,2961.108459,3.068789,75.445844,-4.441313
3,EST,MAR,0.110600,2.590355,55.4,18016.921030,3.622830,153.544439,0.0,2961.108459,3.068789,75.445844,-4.441313
4,FIN,MAR,0.000000,2.590355,74.5,44366.071920,0.750233,75.815966,0.0,2961.108459,3.068789,75.445844,-4.441313
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,JPN,TJK,1.069000,2.116237,43.3,34684.094313,0.929272,33.523833,31.6,1007.370779,4.659157,64.914514,-1.492614
1082,LUX,TJK,7.809400,2.116237,113.9,106102.231289,0.266555,342.925169,31.6,1007.370779,4.659157,64.914514,-2.705341
1083,NLD,TJK,26.010000,2.116237,78.9,45923.735199,0.796311,150.152046,31.6,1007.370779,4.659157,64.914514,-2.705341
1084,POL,TJK,1.700000,2.116237,42.8,13024.461206,3.585024,96.083476,31.6,1007.370779,4.659157,64.914514,-2.705341
1085,SWE,TJK,27.180222,2.116237,87.9,51205.514724,1.400977,85.042638,31.6,1007.370779,4.659157,64.914514,-2.705341

In [10]:
df['ctl_dif'] = df.ctl_destination - df.ctl_origin
df

,Reporting ISO,Partner iso,Average of fdi,infrastructure_ index,ctl_origin,gdp_cap_origin,gdp_growth_origin,trade_origin,ctl_destination,gdp_cap_destination,gdp_growth_destination,trade_destination,tariff_dif,ctl_dif
0,AUT,MAR,1.834900,2.590355,75.8,44703.627270,0.524493,104.370709,0.0,2961.108459,3.068789,75.445844,-4.441313,-75.8
1,BEL,MAR,89.479000,2.590355,119.8,41101.753254,0.822085,160.548481,0.0,2961.108459,3.068789,75.445844,-4.441313,-119.8
2,ESP,MAR,432.905000,2.590355,83.9,25928.257045,0.206781,62.994582,0.0,2961.108459,3.068789,75.445844,-4.441313,-83.9
3,EST,MAR,0.110600,2.590355,55.4,18016.921030,3.622830,153.544439,0.0,2961.108459,3.068789,75.445844,-4.441313,-55.4
4,FIN,MAR,0.000000,2.590355,74.5,44366.071920,0.750233,75.815966,0.0,2961.108459,3.068789,75.445844,-4.441313,-74.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,JPN,TJK,1.069000,2.116237,43.3,34684.094313,0.929272,33.523833,31.6,1007.370779,4.659157,64.914514,-1.492614,-11.7
1082,LUX,TJK,7.809400,2.116237,113.9,106102.231289,0.266555,342.925169,31.6,1007.370779,4.659157,64.914514,-2.705341,-82.3
1083,NLD,TJK,26.010000,2.116237,78.9,45923.735199,0.796311,150.152046,31.6,1007.370779,4.659157,64.914514,-2.705341,-47.3
1084,POL,TJK,1.700000,2.116237,42.8,13024.461206,3.585024,96.083476,31.6,1007.370779,4.659157,64.914514,-2.705341,-11.2
1085,SWE,TJK,27.180222,2.116237,87.9,51205.514724,1.400977,85.042638,31.6,1007.370779,4.659157,64.914514,-2.705341,-56.3

In [13]:
gravity = pd.read_excel(r"C:\Users\Andreea\Documents\licenta\date\gravity.xlsx")
gravity = gravity.rename(columns = {'Country Origin':'Reporting ISO', 'Country Destination': 'Partner iso'})
gravity

      Reporting ISO Partner iso  distance  contiguity  language  colony
0               ABW         AFG   13256.0         0.0       0.0     0.0
1               ABW         AGO    9505.0         0.0       0.0     0.0
2               ABW         AIA     978.0         0.0       1.0     0.0
3               ABW         ALB    9090.0         0.0       0.0     0.0
4               ABW         AND    7570.0         0.0       0.0     0.0
...             ...         ...       ...         ...       ...     ...
63229           ZWE         YEM    3944.0         0.0       0.0     0.0
63230           ZWE         YMD       NaN         NaN       NaN     NaN
63231           ZWE         YUG       NaN         NaN       NaN     NaN
63232           ZWE         ZAF     978.0         1.0       1.0     0.0
63233           ZWE         ZMB     399.0         1.0       1.0     0.0

[63234 rows x 6 columns]

In [14]:
df = pd.merge(df, gravity, on = ['Reporting ISO','Partner iso'])
df

,Reporting ISO,Partner iso,Average of fdi,infrastructure_ index,ctl_origin,gdp_cap_origin,gdp_growth_origin,trade_origin,ctl_destination,gdp_cap_destination,gdp_growth_destination,trade_destination,tariff_dif,ctl_dif,distance,contiguity,language,colony
0,AUT,MAR,1.834900,2.590355,75.8,44703.627270,0.524493,104.370709,0.0,2961.108459,3.068789,75.445844,-4.441313,-75.8,2573.0,0.0,0.0,0.0
1,BEL,MAR,89.479000,2.590355,119.8,41101.753254,0.822085,160.548481,0.0,2961.108459,3.068789,75.445844,-4.441313,-119.8,2150.0,0.0,1.0,0.0
2,ESP,MAR,432.905000,2.590355,83.9,25928.257045,0.206781,62.994582,0.0,2961.108459,3.068789,75.445844,-4.441313,-83.9,833.0,1.0,0.0,0.0
3,EST,MAR,0.110600,2.590355,55.4,18016.921030,3.622830,153.544439,0.0,2961.108459,3.068789,75.445844,-4.441313,-55.4,3725.0,0.0,0.0,0.0
4,FIN,MAR,0.000000,2.590355,74.5,44366.071920,0.750233,75.815966,0.0,2961.108459,3.068789,75.445844,-4.441313,-74.5,3782.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117,JPN,TJK,1.069000,2.116237,43.3,34684.094313,0.929272,33.523833,31.6,1007.370779,4.659157,64.914514,-1.492614,-11.7,6148.0,0.0,0.0,0.0
1118,LUX,TJK,7.809400,2.116237,113.9,106102.231289,0.266555,342.925169,31.6,1007.370779,4.659157,64.914514,-2.705341,-82.3,5014.0,0.0,0.0,0.0
1119,NLD,TJK,26.010000,2.116237,78.9,45923.735199,0.796311,150.152046,31.6,1007.370779,4.659157,64.914514,-2.705341,-47.3,5048.0,0.0,0.0,0.0
1120,POL,TJK,1.700000,2.116237,42.8,13024.461206,3.585024,96.083476,31.6,1007.370779,4.659157,64.914514,-2.705341,-11.2,3952.0,0.0,0.0,0.0
1121,SWE,TJK,27.180222,2.116237,87.9,51205.514724,1.400977,85.042638,31.6,1007.370779,4.659157,64.914514,-2.705341,-56.3,4229.0,0.0,0.0,0.0

In [15]:
df = df.dropna()
df

,Reporting ISO,Partner iso,Average of fdi,infrastructure_ index,ctl_origin,gdp_cap_origin,gdp_growth_origin,trade_origin,ctl_destination,gdp_cap_destination,gdp_growth_destination,trade_destination,tariff_dif,ctl_dif,distance,contiguity,language,colony
0,AUT,MAR,1.834900,2.590355,75.8,44703.627270,0.524493,104.370709,0.0,2961.108459,3.068789,75.445844,-4.441313,-75.8,2573.0,0.0,0.0,0.0
1,BEL,MAR,89.479000,2.590355,119.8,41101.753254,0.822085,160.548481,0.0,2961.108459,3.068789,75.445844,-4.441313,-119.8,2150.0,0.0,1.0,0.0
2,ESP,MAR,432.905000,2.590355,83.9,25928.257045,0.206781,62.994582,0.0,2961.108459,3.068789,75.445844,-4.441313,-83.9,833.0,1.0,0.0,0.0
3,EST,MAR,0.110600,2.590355,55.4,18016.921030,3.622830,153.544439,0.0,2961.108459,3.068789,75.445844,-4.441313,-55.4,3725.0,0.0,0.0,0.0
4,FIN,MAR,0.000000,2.590355,74.5,44366.071920,0.750233,75.815966,0.0,2961.108459,3.068789,75.445844,-4.441313,-74.5,3782.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117,JPN,TJK,1.069000,2.116237,43.3,34684.094313,0.929272,33.523833,31.6,1007.370779,4.659157,64.914514,-1.492614,-11.7,6148.0,0.0,0.0,0.0
1118,LUX,TJK,7.809400,2.116237,113.9,106102.231289,0.266555,342.925169,31.6,1007.370779,4.659157,64.914514,-2.705341,-82.3,5014.0,0.0,0.0,0.0
1119,NLD,TJK,26.010000,2.116237,78.9,45923.735199,0.796311,150.152046,31.6,1007.370779,4.659157,64.914514,-2.705341,-47.3,5048.0,0.0,0.0,0.0
1120,POL,TJK,1.700000,2.116237,42.8,13024.461206,3.585024,96.083476,31.6,1007.370779,4.659157,64.914514,-2.705341,-11.2,3952.0,0.0,0.0,0.0
1121,SWE,TJK,27.180222,2.116237,87.9,51205.514724,1.400977,85.042638,31.6,1007.370779,4.659157,64.914514,-2.705341,-56.3,4229.0,0.0,0.0,0.0

In [23]:
pop = pd.read_excel(r"C:\Users\Andreea\Documents\licenta\date\population.xls")
pop = pop.rename(columns = {'Country Code': 'Partner iso'})
pop

    Partner iso   Population
0           ABW     106537.0
1           AFE  702976832.0
2           AFG   40099462.0
3           AFW  478185907.0
4           AGO   34503774.0
..          ...          ...
261         XKX    1786038.0
262         YEM   32981641.0
263         ZAF   59392255.0
264         ZMB   19473125.0
265         ZWE   15993524.0

[266 rows x 2 columns]

In [47]:
df1 = df.merge(pop, on = 'Partner iso')
df1['fdi/cap'] = df1['Average of fdi']/df1['Population']
df1

,Reporting ISO,Partner iso,Average of fdi,infrastructure_ index,ctl_origin,gdp_cap_origin,gdp_growth_origin,trade_origin,ctl_destination,gdp_cap_destination,gdp_growth_destination,trade_destination,tariff_dif,ctl_dif,distance,contiguity,language,colony,Population,fdi/cap
0,AUT,MAR,1.834900,2.590355,75.8,44703.627270,0.524493,104.370709,0.0,2961.108459,3.068789,75.445844,-4.441313,-75.8,2573.0,0.0,0.0,0.0,37076584.0,4.948946e-08
1,BEL,MAR,89.479000,2.590355,119.8,41101.753254,0.822085,160.548481,0.0,2961.108459,3.068789,75.445844,-4.441313,-119.8,2150.0,0.0,1.0,0.0,37076584.0,2.413356e-06
2,ESP,MAR,432.905000,2.590355,83.9,25928.257045,0.206781,62.994582,0.0,2961.108459,3.068789,75.445844,-4.441313,-83.9,833.0,1.0,0.0,0.0,37076584.0,1.167597e-05
3,EST,MAR,0.110600,2.590355,55.4,18016.921030,3.622830,153.544439,0.0,2961.108459,3.068789,75.445844,-4.441313,-55.4,3725.0,0.0,0.0,0.0,37076584.0,2.983015e-09
4,FIN,MAR,0.000000,2.590355,74.5,44366.071920,0.750233,75.815966,0.0,2961.108459,3.068789,75.445844,-4.441313,-74.5,3782.0,0.0,0.0,0.0,37076584.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,JPN,TJK,1.069000,2.116237,43.3,34684.094313,0.929272,33.523833,31.6,1007.370779,4.659157,64.914514,-1.492614,-11.7,6148.0,0.0,0.0,0.0,9750064.0,1.096403e-07
1063,LUX,TJK,7.809400,2.116237,113.9,106102.231289,0.266555,342.925169,31.6,1007.370779,4.659157,64.914514,-2.705341,-82.3,5014.0,0.0,0.0,0.0,9750064.0,8.009588e-07
1064,NLD,TJK,26.010000,2.116237,78.9,45923.735199,0.796311,150.152046,31.6,1007.370779,4.659157,64.914514,-2.705341,-47.3,5048.0,0.0,0.0,0.0,9750064.0,2.667675e-06
1065,POL,TJK,1.700000,2.116237,42.8,13024.461206,3.585024,96.083476,31.6,1007.370779,4.659157,64.914514,-2.705341,-11.2,3952.0,0.0,0.0,0.0,9750064.0,1.743578e-07
1066,SWE,TJK,27.180222,2.116237,87.9,51205.514724,1.400977,85.042638,31.6,1007.370779,4.659157,64.914514,-2.705341,-56.3,4229.0,0.0,0.0,0.0,9750064.0,2.787697e-06

In [34]:
gdp = pd.read_csv(r"C:\Users\Andreea\Documents\licenta\date\gdp\gdp.csv")
gdp = gdp.dropna()
gdp

    Partner iso           gdp
0           ABW  3.126019e+09
1           AFE  1.090000e+12
2           AFG  1.478686e+10
3           AFW  8.400000e+11
4           AGO  6.740429e+10
..          ...           ...
260         WSM  8.438424e+08
261         XKX  9.412034e+09
263         ZAF  4.190000e+11
264         ZMB  2.214763e+10
265         ZWE  2.837124e+10

[245 rows x 2 columns]

In [48]:
df1 = df1.merge(gdp, on = 'Partner iso')
df1['fdi/gdp'] = df1['Average of fdi']/df1['gdp']
df1 = df1.dropna()

In [49]:
df1

,Reporting ISO,Partner iso,Average of fdi,infrastructure_ index,ctl_origin,gdp_cap_origin,gdp_growth_origin,trade_origin,ctl_destination,gdp_cap_destination,...,tariff_dif,ctl_dif,distance,contiguity,language,colony,Population,fdi/cap,gdp,fdi/gdp
0,AUT,MAR,1.834900,2.590355,75.8,44703.627270,0.524493,104.370709,0.0,2961.108459,...,-4.441313,-75.8,2573.0,0.0,0.0,0.0,37076584.0,4.948946e-08,1.430000e+11,1.283147e-11
1,BEL,MAR,89.479000,2.590355,119.8,41101.753254,0.822085,160.548481,0.0,2961.108459,...,-4.441313,-119.8,2150.0,0.0,1.0,0.0,37076584.0,2.413356e-06,1.430000e+11,6.257273e-10
2,ESP,MAR,432.905000,2.590355,83.9,25928.257045,0.206781,62.994582,0.0,2961.108459,...,-4.441313,-83.9,833.0,1.0,0.0,0.0,37076584.0,1.167597e-05,1.430000e+11,3.027308e-09
3,EST,MAR,0.110600,2.590355,55.4,18016.921030,3.622830,153.544439,0.0,2961.108459,...,-4.441313,-55.4,3725.0,0.0,0.0,0.0,37076584.0,2.983015e-09,1.430000e+11,7.734266e-13
4,FIN,MAR,0.000000,2.590355,74.5,44366.071920,0.750233,75.815966,0.0,2961.108459,...,-4.441313,-74.5,3782.0,0.0,0.0,0.0,37076584.0,0.000000e+00,1.430000e+11,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,JPN,TJK,1.069000,2.116237,43.3,34684.094313,0.929272,33.523833,31.6,1007.370779,...,-1.492614,-11.7,6148.0,0.0,0.0,0.0,9750064.0,1.096403e-07,8.746271e+09,1.222235e-10
1063,LUX,TJK,7.809400,2.116237,113.9,106102.231289,0.266555,342.925169,31.6,1007.370779,...,-2.705341,-82.3,5014.0,0.0,0.0,0.0,9750064.0,8.009588e-07,8.746271e+09,8.928834e-10
1064,NLD,TJK,26.010000,2.116237,78.9,45923.735199,0.796311,150.152046,31.6,1007.370779,...,-2.705341,-47.3,5048.0,0.0,0.0,0.0,9750064.0,2.667675e-06,8.746271e+09,2.973839e-09
1065,POL,TJK,1.700000,2.116237,42.8,13024.461206,3.585024,96.083476,31.6,1007.370779,...,-2.705341,-11.2,3952.0,0.0,0.0,0.0,9750064.0,1.743578e-07,8.746271e+09,1.943686e-10
1066,SWE,TJK,27.180222,2.116237,87.9,51205.514724,1.400977,85.042638,31.6,1007.370779,...,-2.705341,-56.3,4229.0,0.0,0.0,0.0,9750064.0,2.787697e-06,8.746271e+09,3.107636e-09

In [51]:
inflation = pd.read_csv(r"C:\Users\Andreea\Documents\licenta\date\inflation.csv")
inflation

    Partner iso    inflation
0           ABW  1.147007509
1           AFE   6.19108154
2           AFG  4.411035992
3           AFW  2.482227441
4           AGO  17.40997792
..          ...          ...
236         XKX  1.999677391
237         YEM  11.93539014
238         ZAF  4.956947182
239         ZMB  10.43732931
240         ZWE  77.52019962

[241 rows x 2 columns]

In [52]:
df2 = df1.merge(inflation, on = 'Partner iso')
df2 = df2.dropna()
df2

,Reporting ISO,Partner iso,Average of fdi,infrastructure_ index,ctl_origin,gdp_cap_origin,gdp_growth_origin,trade_origin,ctl_destination,gdp_cap_destination,...,ctl_dif,distance,contiguity,language,colony,Population,fdi/cap,gdp,fdi/gdp,inflation
0,AUT,MAR,1.834900,2.590355,75.8,44703.627270,0.524493,104.370709,0.0,2961.108459,...,-75.8,2573.0,0.0,0.0,0.0,37076584.0,4.948946e-08,1.430000e+11,1.283147e-11,1.139473432
1,BEL,MAR,89.479000,2.590355,119.8,41101.753254,0.822085,160.548481,0.0,2961.108459,...,-119.8,2150.0,0.0,1.0,0.0,37076584.0,2.413356e-06,1.430000e+11,6.257273e-10,1.139473432
2,ESP,MAR,432.905000,2.590355,83.9,25928.257045,0.206781,62.994582,0.0,2961.108459,...,-83.9,833.0,1.0,0.0,0.0,37076584.0,1.167597e-05,1.430000e+11,3.027308e-09,1.139473432
3,EST,MAR,0.110600,2.590355,55.4,18016.921030,3.622830,153.544439,0.0,2961.108459,...,-55.4,3725.0,0.0,0.0,0.0,37076584.0,2.983015e-09,1.430000e+11,7.734266e-13,1.139473432
4,FIN,MAR,0.000000,2.590355,74.5,44366.071920,0.750233,75.815966,0.0,2961.108459,...,-74.5,3782.0,0.0,0.0,0.0,37076584.0,0.000000e+00,1.430000e+11,0.000000e+00,1.139473432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,JPN,TJK,1.069000,2.116237,43.3,34684.094313,0.929272,33.523833,31.6,1007.370779,...,-11.7,6148.0,0.0,0.0,0.0,9750064.0,1.096403e-07,8.746271e+09,1.222235e-10,6.791606269
1043,LUX,TJK,7.809400,2.116237,113.9,106102.231289,0.266555,342.925169,31.6,1007.370779,...,-82.3,5014.0,0.0,0.0,0.0,9750064.0,8.009588e-07,8.746271e+09,8.928834e-10,6.791606269
1044,NLD,TJK,26.010000,2.116237,78.9,45923.735199,0.796311,150.152046,31.6,1007.370779,...,-47.3,5048.0,0.0,0.0,0.0,9750064.0,2.667675e-06,8.746271e+09,2.973839e-09,6.791606269
1045,POL,TJK,1.700000,2.116237,42.8,13024.461206,3.585024,96.083476,31.6,1007.370779,...,-11.2,3952.0,0.0,0.0,0.0,9750064.0,1.743578e-07,8.746271e+09,1.943686e-10,6.791606269
1046,SWE,TJK,27.180222,2.116237,87.9,51205.514724,1.400977,85.042638,31.6,1007.370779,...,-56.3,4229.0,0.0,0.0,0.0,9750064.0,2.787697e-06,8.746271e+09,3.107636e-09,6.791606269

In [53]:
df2.to_excel(r"C:\Users\Andreea\Documents\licenta\date\baza de date licenta 3.xlsx")